@import 'reset';
@import 'picker';

body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: lighter;

  overflow-y: scroll;
  margin: 0;

  background: #2E343C;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

#app {
  margin: 0 auto;
}

#scene {
  height: 450px;
  width: 1000px;
  margin: 40px auto;
  display: block;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    margin: 0;
    padding: 0;
  }
}
